fastapi==0.75.2
sqlmodel==0.0.6
SQLAlchemy==1.4.35
uvicorn==0.17.6
gunicorn==20.1.0
pymysql==1.0.2
simplejson==3.17.6
python-decouple==3.6
jinja2==3.1.1
loguru==0.6.0
unipath==1.1
PyJwt==2.3.0
passlib==1.7.4
pydantic==1.9.0
python-multipart==0.0.5
bcrypt==3.2.0
flask_admin==1.6.0
flask_login==0.6.0
flask_wtf==1.0.1
pandas==1.4.2
Crypto==1.4.1
pycryptodome==3.14.1
dataset==1.5.2
slugify==0.0.1
httpx==0.22.0
status==0.2.5
simple_rest_client==1.1.2