  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/admin" class="brand-link">
      <img src="/static/assets/img/AdminLTELogo.jpeg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Capricornus Admin</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item {% if 'index' in segment %} menu-open {% endif %}">
            <a href="/admin/index.html" class="nav-link {% if 'index' in segment %} active {% endif %}">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Welcome
              </p>
            </a>
          </li>
          <li class="nav-item {% if 'index' in segment %} menu-open {% endif %}">
            <a href="/admin/dbdiagram.html" class="nav-link {% if 'dbdiagram' in segment %} active {% endif %}">
              <i class="nav-icon fas fa-database"></i>
              <p>
                DataBase
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview {% if 'data-table' in segment %} menu-open {% endif %}">
            <a href="#" class="nav-link {% if 'data-table' in segment %} active {% endif %}">
              <i class="nav-icon fas fa-table"></i>
              <p>
                Tables
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              {% for systable in systables %}
              <li class="nav-item">
                <a href="/admin/data-table-{{ systable }}.html" class="nav-link {% if 'data-table-' + systable in segment %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>{{ systable|capitalize }}</p>
                </a>
              </li>
              {% endfor %}
            </ul>
          </li>
          <li class="nav-item has-treeview {% if 'data-view' in segment %} menu-open {% endif %}">
            <a href="#" class="nav-link {% if 'data-view' in segment %} active {% endif %}">
              <i class="nav-icon fas fa-columns"></i>
              <p>
                Views
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              {% for sysview in sysviews %}
              <li class="nav-item">
                <a href="/admin/data-view-{{ sysview }}.html" class="nav-link {% if 'data-view-' + sysview in segment %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>{{ sysview|capitalize }}</p>
                </a>
              </li>
              {% endfor %}
            </ul>
          </li>
          <li class="nav-item has-treeview {% if 'settings-' in segment %} menu-open {% endif %}">
            <a href="#" class="nav-link {% if 'settings-' in segment %} active {% endif %}">
              <i class="nav-icon fas fa-cogs"></i>
              <p>
                Settings
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/admin/settings-config.html" class="nav-link {% if 'settings-config' in segment %} active {% endif %}">
                  <i class="far fa-edit nav-icon"></i>
                  <p>Settings</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/settings-pagedef.html" class="nav-link {% if 'settings-pagedef' in segment %} active {% endif %}">
                  <i class="far fa-file-lines nav-icon"></i>
                  <p>PageDefine</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/settings-users.html" class="nav-link {% if 'settings-users' in segment %} active {% endif %}">
                  <i class="far fa-user nav-icon"></i>
                  <p>Users</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-header">Documents</li>
          <li class="nav-item">
            <a href="/admin/api-docs.html" class="nav-link">
              <i class="nav-icon fas fa-file-code"></i>
              <p>Swagger</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/api-redoc.html" class="nav-link">
              <i class="nav-icon fas fa-file-code"></i>
              <p>Redoc</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/capricornus-doc.html" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              <p>UserGuide</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  