<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  <link rel="canonical" href="https://zinohome.github.io"/>
  
  <title>
    Capricornus Admin - {% block title %}{% endblock %}
  </title> 

  {% block stylesheets %}{% endblock stylesheets %}

</head>
<body class="hold-transition {% block body_class %}{% endblock body_class %}">
<div class="wrapper">

    {% include 'includes/navigation.html' %}

    {% include 'includes/sidebar.html' %}

    {% block content %}{% endblock content %}

    {# {% include 'includes/footer.html' %} #}

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
        <!-- Sidebar user panel -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/static/assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="{{ url_for('authentication_blueprint.logout') }}" class="d-block">
            {{ current_user.full_name }} - Logout
          </a>
        </div>
      </div>
    </aside>
    <!-- /.control-sidebar -->

</div>
<!-- ./wrapper -->

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

</body>
</html>
